<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deslre.user.mapper.PermissionMapper">

    <select id="selectBySql" parameterType="integer" resultType="org.deslre.user.entity.Permission">
        SELECT p.*
        FROM permissions p
                 JOIN role_permissions rp ON p.id = rp.permission_id
                 JOIN users u ON u.role_id = rp.role_id
        WHERE u.id = #{userId}
    </select>

</mapper>
